PIXVERSE_API_KEY=
PIXVERSE_API_BASE_URL=https://app-api.pixverse.ai

NEXT_PUBLIC_PIXVERSE_VIDEO_BASE=
NEXT_PUBLIC_PIXVERSE_VIDEO_POSITIVE_URL=
NEXT_PUBLIC_PIXVERSE_VIDEO_NEUTRAL_URL=
NEXT_PUBLIC_PIXVERSE_VIDEO_NEGATIVE_URL=
